/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
    max-width: 100%;
    color: #160947;
    font-family: 'Noto Sans JP', sans-serif;
    /* border: 1px solid grey; */
}


/* ===== accessibility ===== */
#skip a
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skip a:focus
{
position:static;
width:auto;
height:auto;
}



/* ===== header styles ===== */

header{
    display: flex;
    justify-content: space-between;
    margin: 2% 5%;
    align-items: center;
    margin-top: 3%;
}

header h2{
    font-size: 3.8rem;
    text-transform: capitalize;
}

.navbar{
    display: flex;
    width: 30%;
    text-align: center;
}

.navbar a{
    text-decoration: none;
    width: 25%;
    padding: 2% 10%;
    border: 2px solid #160947;
    font-size: 1.9rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a:hover{
    background-color: #160947;
    color: white;
    font-weight: bolder;
}

.navbar-selected{
    background-color: #160947;
    color: white;
}



/* ===== top section styles ===== */

.top-background{
    background: url("https://images.unsplash.com/photo-1507166763745-bfe008fbb831?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    margin: 5% 15%;
    border-radius: 5px;

}

.top-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.top-section h1{
    font-size: 5rem;
    text-transform: capitalize;
    margin-bottom: 4%;
    background-color: white;
    padding: 1.2%;
    border-radius: 5px;
}

.button{
    width: auto;
    padding: 1%;
    border: 5px solid #160947;
    background-color: white;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover{
    background-color: #160947;
    color: white;
    font-weight: bolder;
}

/* ===== Gallery Project Styles ===== */

#project-gallery{
    margin: 0 5%;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

.project-content{
    width: 29%;
    margin-bottom: 5%;
    
}

.project-content:hover{
    font-weight: bolder;
    font-size: 2.1rem;
    text-decoration: underline;
    
}

.project-content img{
    border-radius: 5px;
    width: 100%;
    height: 300px;
    margin-bottom: 1%;
    cursor: pointer;
}

.project-title{
    font-size: 2.4rem;
    text-align: center;
    cursor: pointer;
}




/* ===== footer styles ===== */

footer{
    background-color: #160947;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button{
    height: 50%;
    cursor: pointer;
    margin: 2% 0;
}

footer button:hover{
    border: 3px solid white;
    font-weight: bolder;

}

/* ===== responsive design styles ===== */

@media(max-width: 1300px){
    .navbar{
        width: 45%;
    }

    .top-background{
        margin: 5% 10%;
    }
}


@media(max-width: 1024px){
    .project-content img{
        height: 240px;
    }
}



@media(max-width: 800px){

    header h2{
        font-size: 2.8rem;
    }

    .navbar{
        width: 50%;
    }

    .navbar a{
        font-size: 1.5rem;
    }

    /*  ===== top section ===== */

    .top-background{
        margin: 5% 5%;
    }

    /* ===== gallery section ===== */
    .project-content{
        width: 47%;
    }

    .project-content img{
        height: 280px;
    }
}


@media(max-width: 500px){

    header h2{
        font-size: 1.8rem;
    }

    .navbar a{
        font-size: 1.2rem;
    }

    /* ===== top section ===== */

    .top-background{
        height: 50vh;
    }

    .top-section h1{
        font-size: 3rem;
    }

    .button{
        font-size: 1.8rem;
        border: 3px solid #160947;
    }

     /* ===== gallery section ===== */
     .project-content{
        width: 49%;
        
        
    }

    .project-content img{
        height: 180px;
    }

}

@media(max-width: 430px){
    header h2{
        display: none;
    }

    .navbar{
        width: 100%;
    }

    .navbar a{
        font-size: 1.5rem;
    }
    .project-content{
        width: 47%;
    }
    .project-content img{
        height: 120px;
    }

    .project-title{
        font-size: 2rem;
    }
}

@media(max-width: 375px){
    
    .top-section h1{
        font-size: 2.5rem;
    }

    .project-title{
        font-size: 2rem;
    }
    

    

    
}

/* ===== about styles ===== */

.top{
    margin-bottom: 5%;
}

hr{
    border-top: 3px solid #160947;
    width: 30%;
    margin-left: 0;
}


.top-section-about{
    display: inline-block;
    margin: 0 5%;
    margin-top: 2%;
    text-align: left;
    
}

.top-section-about h1{
    display: none;
}

.top-section-about h4{
    font-size: 2.5rem;
    margin: 6% 0;
    color: #160947;
}


.top-section-about li{
    list-style-type: square;
    margin: 6% 0;
    color: #160947;
    font-size: 2.4rem;
    font-weight: 100;
    list-style-position: inside;
}

.top-section-about span{
    font-size: inherit;
}

.top-section-about a{
    text-decoration: underline;
    font-size: inherit;
    
}

li a:hover{
    color: #1E90FF;
    font-weight: 300;

}

@media(max-width: 415px){

    .top-section-about{
        height: 85vh;
    }
    .top-section-about h1{
        margin: 5%;
        font-size: 2.9rem;
        display: inline-block;
        text-align: center;
    }

    .top-section-about hr{
        margin: 20px 0;
    }

    .top-section-about li{
        font-size: 1.5rem;
    }

    .top-section-about span {
        display: none;
    }
    
}